#if ($value)
    #if ($excelView)
        $textutils.br($textutils.htmlEncode($!value.toString(), false))
    #else
        <div id="copy_div_$issue_id" class="aui-button ctc-field-indicator" title="Copy to clipboard">&copy;</div>
    #end
#end